
canvas {
    background-color: white;
    border: 2px solid gray;
}


#imagePreview {
    display: hidden;
}

.colorBlock {
    width: 50px;
    height: 50px;
}

.optionBlock {
    border: 1px solid black;
    width: 130px;
    height: 50px;
    text-align: center;
}

.optionsBlocksRow {
    margin-bottom: 50px;
}


